
.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: rgba(0, 0, 0, .6);
  color: white;
  height: 7vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

h1, h2, h3 {
  font-family: 'Maven Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#home-div {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 150px;
}

#home-div p {
  display: inline;
  padding-bottom: 4px;
}

.material-icons {
  margin-top: 1vh;
  margin-left: 1vh;
  font-size: 2.5em;
}

a {
  color: inherit;
}

a:visited  {
  color: inherit;
}

#cover-img {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#cover-img-h2 {
  color: white;
  position: absolute;
  top: 80%;
  left: 45%;
}
#arrow-down {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 85%;
  left: 50%;
}
/* #cover-img-div i {
  position: fixed;
  top: -10;
  right: 50;
} */

#countries-div {
  height: 79vh;
  margin-top: 14vh;
}

#show-country-div {
  height: 84vh;
  padding-top: 7vh;
}


img {
  width: 300px;
}

footer {
  background-color: rgba(0, 0, 0, .6);
  color: white;
  height: 7vh;
}

footer h3 {
  padding-top: 10px;
}