/* General Styling */

.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: rgba(0, 0, 0, .6);
  color: white;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

h1, h2, h3 {
  font-family: 'Maven Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
  background-color: white;
  color: black;
  margin: 0 auto;
}

button:hover {
  background-color: black;
  color: white;
  border: 1px solid grey;
}

#home-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1vh;
  /* width: 150px; */
}

#home-div p {
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 10px;
}

.nav-right-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logon-button {
  width: 6vh;
  height: 7vh;
  border-radius: 5px;
}

.logon-register-button {
  width: 9vh;
  height: 7vh;
  margin-right: 10px;
  border-radius: 5px;
}

.greeting-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.nav-right-div p {
  margin: 5px 10px;
}

.nav-right-div button {
  margin-right: 10px;
}


.material-icons {
  margin-top: 1vh;
  margin-left: 1vh;
  font-size: 2.5em;
}

a {
  color: inherit;
}

a:visited  {
  color: inherit;
}

#cover-img {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#cover-img-h2 {
  color: white;
  position: absolute;
  top: 77%;
  left: 45%;
}


#view-countries-text1 {
  animation: showup 7s infinite;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#view-countries-text2 {
  width:0px;
  animation: reveal 7s infinite;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#view-countries-text2  span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

.addPhoto, .profile-div, .login-form, .update-form-div{
  height: 80vh;
}

.addPhotoForm, .profile-div, .login-form, .photo-update-form {
  padding-top: 10vh;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:450px;}
    80% {opacity:1;}
    100% {opacity:0;width:450px;}
}

#arrow-down {
  color: white;
  font-size: 4em;
  position: absolute;
  top: 85%;
  left: 50%;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}

/* #cover-img-div i {
  position: fixed;
  top: -10;
  right: 50;
} */

#countries-div {
  /* height: 86vh; */
  margin-top: 7vh;
}

#show-country-div {
  /* height: 84vh; */
  padding-top: 7vh;
}

.countries-list-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.countries-list-div h3 {
  margin-top: 0;
}

.countries-list-div img {
  width: 27vw;
  height: 20vw;
  margin: 10px;
}

img {
  width: 300px;
}

footer {
  background-color: rgba(0, 0, 0, .6);
  color: white;
  height: 7vh;
}

footer h3 {
  padding-top: 10px;
}